<hr/>
<footer>
    <h3 class="head">DECLARATION</h3>
    <p class="head">I hereby declare that information given by me is true to the best of my 
        knowledge.
    </p>
</footer>
<div class="foot">
    <p>&COPY; This Portfolio Page was created with &hearts; by Ankit Kumar.<br/>
    2008-2024 All Right Resevered ! </p>
</div>