<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header>
    <marquee class="head">Hey, I am a frontend web developer,This is my Portfolio page.</marquee>
    <div class="one">
      <h1 class="head">PORTFOLIO</h1>
      <h2 class="head">ANKIT KUMAR</h2>
      <h3><a href="https://mail.google.com/mail/u/0/#inbox?compose=new">Ankit.ak106@gmail.com</a> &nbsp;&nbsp; | &nbsp;&nbsp; (+91) 9675410436</h3>
    </div>
    <div class="four">
      <h4 class><a href="https://github.com/Ankitak106">github.com/Ankitak106</a></h4>
      <h4 class><a href="https://www.linkedin.com/in/ankitkumarg"
      >linkedin.com/in/ankitkumarg</a></h4>
    </div>     
  </header>
</body> <div class="nav">
    <a href="http://localhost:3000/"><h2 type="button">COVER PAGE&nbsp;</h2></a>
    <a href="http://localhost:3000/career"><h2 type="button">CAREER OBJECTIVE&nbsp;</h2></a>
    <a href="http://localhost:3000/education"><h2>EDUCATIONS&nbsp;</h2></a>
    <a href="http://localhost:3000/skills"><h2>SKILLS&nbsp;</h2></a>
    <a href="http://localhost:3000/projects"><h2>PROJECTS&nbsp;</h2></a>
    <a href="http://localhost:3000/experience"><h2>EXPERIENCE&nbsp;</h2></a>
    <a href="http://localhost:3000/portfolio"><h2>OTHER INFO&nbsp;</h2></a>
    <a href="http://localhost:3000/contact"><h2>CONTACT US&nbsp;</h2></a>
    <a href="http://localhost:3000/connect"><h2>CONNECT WITH US</h2></a>
  </div><hr/>