<%- include("includes/header.ejs") %>
<div class="card">
<h3 class="head">CAREER OBJECTIVE</h3>
    <p class="head">Seeking a responsible career in a prestigious organization where I can utilize
        my skills, knowledge to work at my level best. To grow with the organization
        and deliver best possible services. Work smart to achieve the corporate
        targets and goals keeping in view the corporate mission and vision.
    </p>
</div>
<%- include("includes/footer.ejs") %> 