<%- include("includes/header.ejs") %>
<div class="card">
  <h1>CONTACT US</h1>
  <h2>MOBILE NUMBER : 9675410436</h2>
  <h2>EMAIL ID : ANKIT.AK106@GMAIL.COM</h2>
  <h3> VILL- NAIDU, MEERUT</h3>
  <h3>PIN CODE : 250401</h3>
</div>
<%- include("includes/footer.ejs") %> 