<%- include("includes/header.ejs") %>
<div class="card">
<h3 class="head">EDUCATION</h3>
    <ul>
        <li><b>BACHELOR OF TECHNOLOGY</b>- (ME) | Forte Institute of Technology</li>
        <h4 class="five">65 % &nbsp; | &nbsp; 2015</h4>
        <li><b>XII (UP BOARD)</b>- PCM | SSN Inter College</li>
        <h4 class="five">65 % &nbsp; | &nbsp; 2011</h4>
        <li><b>X (UP BOARD)</b>- SCIENCE | MGS School</li>
        <h4 class="five">60 % &nbsp; | &nbsp; 2009</h4>
    </ul>
</div>
<%- include("includes/footer.ejs") %> 