<%- include("includes/header.ejs") %>
<div class="card">
  <h3 class="head">EXPERIENCE</h3>
    <ul>
        <li><b>Supervisor | Bajaj Motors Limited</b></li>
        <h4 class="five">(2 MAR 2022 &nbsp;- &nbsp; 26 OCT 2023)</h4>
    </ul>
</div>
<%- include("includes/footer.ejs") %> 