<%- include("includes/header.ejs") %>
<body class="home">
    <div class="card">
        <h1>COVER PAGE OF PORTFOLIO</h1>
        <h1>ANKIT KUMAR</h1>
        <h2>I AM A FRONTEND SOFTWARE DEVELOPER</h2>
        <p>This web page is created by <i>Ankit kumar</i> &hearts;</p>
    </div>
</body>     
<%- include("includes/footer.ejs") %> 
