<%- include("includes/header.ejs") %>
<body>
  <div class="card">
    <section>          
          <h3 class="head">CERTIFICATE</h3>
            <ul>
               <li>Full Web Development Course from APNA COLLEGE </li>
               <h4 class="five">10-Months</h4>
            </ul>
              
          <h3 class="head">LANGUAGES</h3>
            <ul>
              <li>Hindi</li>
              <li>English</li>
            </ul>
          <h3 class="head">HOBBIES</h3>
            <ul>
              <li>Playing Chess</li>
            </ul>
        </section>
      </div>
        <%- include("includes/footer.ejs") %> 
</body>