<%- include("includes/header.ejs") %>
<div class="card">
<h3 class="head">ACADEMIC PROJECTS</h3>
    <ul>
        <li>
          <b>Wanderlust</b>
           - Wanderlust is a website of accommodation like Airbnb website
        </li>
        <p class="head">
          Wanderlust is a functional web app of original airbnb website.
          Wanderlust project has many web pages like as SignUp, LogIn,
          Logout pages, Authentication, Authorization, MVC And Create,
          Update, Delete buttons, Rating operations.
          Technology/Tools: HTML, CSS, javaScript, Nodejs, Expressjs, MongoDB.<br/>
        <a href="https://my-major-project.onrender.com/listings"
          >https://my-major-project.onrender.com</a>
        </p>
        <li><b>To-do App</b> - To-do App is a functional web page of to-do list
          of daily activities
        </li>
        <p class="head">
          To-do app is a web app page of to-do list of daily activities. This is
          a interactive page with create, add, delete and checked mark buttons
          and add daily activities in this list, remove and marked functionalty.
          Technology/Tools: HTML, CSS, javaScript.<br/>
        <a href="https://github.com/Ankitak106/ToDo-App"
          >https://github.com/Ankitak106/ToDo-App</a>
        </p>
</div>
<div class="card">
        <li><b>Weather App</b> - Weather App is a web app page to check the
          temperature, humidity,feels like of your city by using weather API
        </li>
        <p class="head">
          Weather app is a computer web app page that can show the weather
          conditions of your city by using weather API.You can cheched minimum
          and maximum temperature, humidity and feels like of your city globally<br/>
          Technology/Tools: HTML, CSS, javaScript, React.
        </p>
    </ul>
</div>
<%- include("includes/footer.ejs") %> 