<%- include("includes/header.ejs") %>
<div class="card">
<h3 class="head">SKILLS</h3>
    <ul>
      <li><b>HTML, CSS, javaScript</b></li>
      <li><b>React</b></l>
      <li><b>Framework -</b>Bootstrap, Tailwind CSS</li>
      <li><b>Database -</b>MySQL, MongoDB</li>
      <li><b>Git & github</b></li>
      <li><b>Nodejs, Expressjs</b></li>
    </ul>
  </div>
<%- include("includes/footer.ejs") %> 